.TopSectionContainer{
    height: 75vh;
    width: 100%;
    display: flex;
    // margin-top: 5px;
    .TopSecLeft{
        width: 40%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        // background-color: turquoise;
        .ImageContainer{
            height: 60%;
            background-image: url("./TopImage.jpeg");
            width: 80%;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            border-radius: 10px;
            // background-color: violet;
        }
    }
    .TopSecRight{
        width: 60%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        // background-color: blue;
        .TextContainer{
            overflow: auto;
            height: 60%;
            width: 80%;text-align: justify;
            // background-color: yellow;
        }
    }
}